header {
    background-color: white;
    margin: 0;
    margin-bottom: 3em;
    border: 0;
    padding: 0;
    height: 6em;
}

h1 {
    position: absolute;
    display: inline;
    font-size: 1.3cm;
    color: #031931;
    margin: 0;
    padding: 0.4em 0em 0.4em;
}

body {
    font-family: sans-serif;
    background-color: #F6F8F9;
    margin: 0;
}

img {
    padding: 1em;
    padding-right: 0.5em;
    width: 4em;
}

.container {
    background-color: white;
    margin: 3em 15% 0em;
    border-radius: 0.3em;
}

button {
    margin: 1em 0.1em 0.5em;
    padding: 0.4em 0.7em;
    border-radius: 0.4em;
    border-color: #F6F8F9;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #DBDFE1;
}

#button2:hover {
    background-color: #47ADF1;
    border: 2px solid #47ADF1;
    color: white;
}

#button1 {
    border: 2px solid #47ADF1;
    margin-left: 6%;
    color: white;
    background-color: #47ADF1;
}

#button2 {
    color: #DBDFE1;
    background-color: white;
}

.buttonscontainer {
    padding: 0.3em 0em;
    border-bottom: 2px solid #F6F8F9;
}

section:not(.buttonscontainer) {
    padding: 1.5em 6%;
}

ul {
    color: #3F434C;
    list-style-type: "\f0d7";
    font-family: 'FontAwesome';
    padding-left: 1em;
}

li {
    font-size: 1.3em;
    
}

li span {
    font-size: 0.8em;
}
    
h2 {
    font-family: sans-serif;
    padding-left: 0.3em;
}

input[type="checkbox"] {
    appearance: none;
    /* height: 2em;
    width: 2em; */
    border: 2px solid #eb5c53;
    border-radius: 2em;
    padding: 0.3em;
    cursor: pointer;
    outline: none;
    display: inline;
    align-items: center;
    justify-content: center;
}

/* cross */
input[type="checkbox"]:before {
    content: "\2717";
    font-weight: 900;
    color: #eb5c53;
    font-size: 1.5em;
    display: none;
}

/* check */
input[type="checkbox"]:after {
    content: "\2713";
    font-weight: 900;
    color: #60BFA7;
    font-size: 1.5em;
    display: none;
}

input[type="checkbox"]:hover {
    background-color: #DBDFE1;
}

input[type="checkbox"]:checked {
    border: 2px solid #60BFA7;
}

input[type="checkbox"]:checked:after {
    display: inline;
}

input[type="checkbox"]:not(:checked):before {
    display: inline;
}

label {
    font-family: sans-serif;
}

.tag {
    font-family: sans-serif;
    font-size: 0.5em;
    background-color: black;
    color: white;
    padding: 0.7em 1em;
    border-radius: 1em;
    vertical-align: middle;
}

#blue {
    background-color: #45ABEA;
}

#purple {
    background-color: #9C72E4;
}

#teal {
    background-color: #64C0A9;
}

#orange {
    background-color: #F29E33;
}

#pink {
    background-color: #D863A1;
}

#green {
    background-color: #B0C925;
}

.item {
    margin-bottom: 1em;
}

.item:last-child {
    margin-bottom: 2.5em;
}

